

<p>
  <span><%= link "Edit", to: Routes.post_path(@conn, :edit, @post) %></span>
  <span><%= link "Back", to: Routes.post_path(@conn, :index) %></span>
</p>

<h1>Show Post</h1>

<div class="col-sm-4 card">
  <div class="card-body">
    <h5 class="card-title"> <%= @post.name %></h5>

    <p class="card-text"> <%= @post.date %></p>
    <p class="card-text"> <%= @post.body %></p>

  </div>
</div>
